/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out
/frontend/build
/backend/dist
/backend/.db
data.sqlite3
/backend/.prettierrc
/backend/build
/backend/tmp
/frontend/node_modules
/frontend/.vscode/*
/frontend/.vscode
/frontend/.editorconfig
/frontend/.postcssrc.json
/backend/node_modules
/node_modules
logs
*.log
.prettierrc
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
libpeerconnection.log
testem.log
/frontend/coverage
/backend/coverage
/.nyc_output
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.temp
.tmp
/connect.lock
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/typings
/frontend/__screenshots__/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.DS_Store
Thumbs.db
